body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.section {
    background-color: darkslategrey;
    height: 500px;
    line-height: 500px;
}

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}


/*+++++++++++++++++++++++++++++++++++++++++++++*/


/*loader quart*/


/*+++++++++++++++++++++++++++++++++++++++++*/

.loader-quart {
    border-radius: 50px;
    border: 6px solid rgba(255, 255, 255, 0.4);
}

.loader-quart:after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #fff;
    animation: spire linear 0.5s infinite;
}

@keyframes spire {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}